@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';

$color--theme-primary: #1d2127;
$color--modal-background: rgb(245, 245, 245);

// Define a custom typography config
$custom-typography: mat-typography-config(
  $font-family: sans-serif
);
@include mat-core($custom-typography);


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    background-color: $color--theme-primary;
    font-family: sans-serif !important;
}

#outlet-container {
    max-width: 1024px;
    margin:0px auto;
    padding: 20px;
}

.content-container {
    background-color: $color--modal-background;
    width: 100%;
    margin: 20px auto;
}